<!DOCTYPE html>
<html lang="en">
<head>
  <!-- ... other head content ... -->
</head>
<body>
  <h1>Select Content Type</h1>
  <% if (contentTypes.data) { %>
    <ul>
      <% contentTypes.data.forEach(function(type) { %>
        <li><a href="/content/<%= type.drupal_internal__type %>"><%= type.name %></a></li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>No content types available.</p>
  <% } %>
</body>
</html>
